.lngLat {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 10px;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}
