.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mapSBclosed {
  position: absolute;
  height:100%;
  width:100%;
}
.mapSBopen {
  position: absolute;
  height:100%;
  width:75%;
  left:25%;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  max-height: 100vh;
  background: #101218;
  color: #fff;
  margin-left: -250px;
  transition: all 0.5s;
}

.sidebarIsopen {
  max-height: 100vh;
  min-width: 25%;
  max-width: 25%;
  margin-left: 0;
  transition: 0.5s;
  background: #17181d;
  color: #fff;
  transition: all 0.5s;
  height:100vh;
}
